<div class="oj-hybrid-padding">
  <h1>About Content Area</h1>
  <div>
    To change the content of this section, you will make edits to the about.html
    file located in the /js/views folder.
  </div>
  <oj-data-grid
    id="datagrid"
    on-selection-changed="[[handleSelectionChanged]]"
    style="height: 200px; max-width: 577px"
    data="[[dataSource]]"
    selection-mode.row="single"
    dnd.reorder.row="enable"
    header.column.style="width:100px"
  >
  </oj-data-grid>

  <my-employee-form
    first-name="[[inputFirstName]]"
    last-name="[[inputLastName]]"
    hire-date="[[inputHireDate]]"
    hire-salary="[[inputSalary]]"
  ></my-employee-form>
</div>
